<div class="text-center font-semibold text-3xl mt-2 mb-4">
  <%= @categories.size > 1 ? "Categories" : "Category" %>
</div>

<%= render(Categories::Grid::Component.new(categories: @categories)) %>

<% if @categories.size == 1 %>
  <%= @categories.first.description %>
<% end %>

<%= simple_form_for(:query, url: request.url, method: :get, html: {class: "mt-5", data: {reflex: "debounced:input->SearchPostReflex#search"}}) do |f| %>
  <%= f.input :title, input_html: { value: params[:query] && params[:query]["title"], class: "!rounded-none !rounded-r" }, wrapper_html: { class: "flex" }, label_html: { class: "bg-beaver-700 !mb-0 !text-white flex rounded-l px-2 items-center !text-base" }, required: false, label: "Search" %>
<% end %>

<turbo-frame id="posts">
  <div class="mt-7 mb-6">
    <%= render Layout::LinkGroup::Component.new(3) do |c| %>
      <% c.link(name: "Newest", link: path_to(request.url, sort: "newest"), active: params[:sort] == "newest") %>
      <% c.link(name: "Oldest", link: path_to(request.url, sort: "oldest"), active: params[:sort] == "oldest") %>
      <% c.link(name: "Popular", link: path_to(request.url, sort: "popular"), active: params[:sort] == "popular") %>
    <% end %>
  </div>

  <% if params[:sort] == "popular" %>
    <div class="mt-7 mb-6">
      <%= render Layout::LinkGroup::Component.new(4) do |c| %>
        <% c.link(name: "Week", link: path_to(request.url, filter: "week"), active: params[:filter] == "week") %>
        <% c.link(name: "Month", link: path_to(request.url, filter: "month"), active: params[:filter] == "month") %>
        <% c.link(name: "Year", link: path_to(request.url, filter: "year"), active: params[:filter] == "year") %>
        <% c.link(name: "All", link: path_to(request.url, filter: "all"), active: params[:filter] == "all") %>
      <% end %>
    </div>
  <% end %>

  <% @posts.each do |post| %>
    <%= render(Posts::Card::Component.new(post: post, current_user: @current_user)) %>
  <% end %>

  <%= render(Pagy::Component.new(pagy: @pagy)) if @pagy %>
</turbo-frame>
