<% if @user %>
  <div id="<%= dom_id(@comment) %>">
    <div class="flex justify-center"
         data-controller="comments--form--component"
         data-comments--form--component-target="form">
      <img class="rounded-full h-12 w-12 mt-3" src="<%= helpers.user_avatar(@user) %>">
      <div class="w-96 ml-2">
        <%= form_for(@comment, url: request.url, builder: DaisyFormBuilder) do |f| %>
          <%= f.group :content, label: "Comment", class: "mt-0" do %>
            <%= f.text_area :content, input_html: {data: {"comments--form--component-target": "input"}} %>
          <% end %>

          <div class="text-right">
            <%= f.submit data: {action: "click->comments--form--component##{@comment.created_at ? "update" : "create"}", "comment-id": @comment.id} %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% else %>
  <div class="flex justify-center">
    <div class="w-96 bg-beaver-800 py-10 text-beaver-200 rounded text-center">
      You need to log in to write a comment.
    </div>
  </div>
<% end %>
