<% if @user %>
  <div id="<%= dom_id(@comment) %>" class="">
    <% if @responding %>
      <p class="mb-2 text-beaver-400">
        reponding to <b><%= @responding&.user.name %></b>
        <% if @comment.id.nil? %>
          <%= content_tag :button, class: "block float-right p-1", data: {reflex: "click->Comments::Form::ComponentReflex#cancel_respond"} do%>
            <%= octicon "x", class: "fill-current" %>
          <% end %>
        <% end %>
      </p>
    <% end %>
    <div class="flex justify-center"
         data-controller="comments--form--component"
         data-comments--form--component-target="form">
      <% if @comment.id %>
        <img class="rounded-full h-12 w-12 mt-3 mr-2" src="<%= helpers.user_avatar(@user) %>">
      <% end %>
      <div class="w-full">
        <%= form_for(@comment, url: request.url, builder: DaisyFormBuilder) do |f| %>
          <%= f.hidden_field(:response_id, data: {"comments--form--component-target": "respondId"}, value: @responding&.id) %>
          <%= f.group :content, label: "Comment", class: "mt-0" do %>
            <%= f.text_area :content, data: {"comments--form--component-target": "input"} %>
          <% end %>

          <div class="text-right">
            <% if @comment.id %>
              <%= content_tag(:button, class: "btn btn-error mr-2", data: {reflex: "click->Comments::Form::ComponentReflex#cancel_edit", "comment-id": @comment.id}) { "Cancel" } %>
            <% end %>
            <%= f.submit data: {action: "click->comments--form--component##{@comment.created_at ? "update" : "create"}", "comment-id": @comment.id} %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% else %>
  <div class="flex justify-center">
    <div class="w-96 bg-beaver-800 py-10 text-beaver-200 rounded text-center">
      You need to log in to write a comment.
    </div>
  </div>
<% end %>
