<turbo-frame id="<%= dom_id announcement %>" class="block group pt-6">
  <div class="flex justify-between mb-3">
    <div>
      <div class="flex">
        <img class="h-12 w-12 mr-2 rounded-full" src="<%= user_avatar(announcement.user) %>" alt="user avatar">
        <b><%= announcement.user.name %></b>
      </div>
    </div>
    <div class="flex items-start text-beaver-500 <%= "group-hover:hidden" if announcement.user == current_user %>">
      posted <%= time_ago_in_words(announcement.created_at) %> ago
    </div>
    <% if announcement.user == current_user %>
      <div class="hidden group-hover:flex">
        <%= link_to "Edit", edit_announcement_path(announcement), class: "link !text-blue-400" %>
        <%= button_to "Delete", announcement_path(announcement), action: "delete", method: :delete, class: "link !text-red-400", form: {class: "ml-2"} %>
      </div>
    <% end %>
  </div>
  <div class="mb-3">
    <%= announcement.message %>
  </div>


  <%= render(Layout::Modal.new(tag: :div, class: "flex justify-center bg-black rounded")) do |c| %>
    <% c.button(class: "h-64 hover:cursor-pointer group/media") do %>
      <%= content_tag(
        :div,
        class: "rounded-lg w-full mb-2 bg-cover h-64 relative bg-center w-64",
        style: "background-image: url('#{announcement.media_url}'); max-height: 300px;"
      ) do %>
        <div class="w-full h-64 bg-black hidden group-hover/media:block absolute opacity-70"></div>
        <div class="w-full h-64 hidden group-hover/media:block absolute z-10">
          <span class="w-fit mx-auto text-center block" style="margin-top: 116px">
            Show image
          </span>
        </div>
      <% end %>
    <% end %>
    <% c.dialog do |cc| %>
      <% cc.header {"media"} %>
      <% cc.body do %>
        <%= content_tag(
          :img,
          src: announcement.media_url,
          class: "my-auto rounded-lg mx-auto mb-2 object-cover"
        ) {} %>
      <% end %>
    <% end %>
  <% end %>

  <%= render Layout::Toggle.new() do |c| %>
    <%= render(c.toggle(tag: :button, class: "flex items-center text-center w-fit px-4 py-2 rounded ml-auto hover:bg-base-200 mt-3 mb-3")) do %>
      <%= octicon :comment, class: "fill-current mr-2" %>
      <%= announcement.comments.size %>
       comments
    <% end %>
    <%= render(c.toggleable) do %>
      <%= render(Comments::Box.new(user: current_user, commentable: announcement, comments: announcement.comments)) %>
    <% end %>
  <% end %>

  <div class="divider mt-6 mb-0"></div>
</turbo-frame>
