<turbo-frame id="<%= dom_id announcement %>">
  <%= form_for announcement, builder: DaisyFormBuilder, html: {class: "mb-4"} do |f| %>
    <%= f.hidden_field :guild_id %>


    <%= f.group :message do %>
      <%= f.text_area :message, class: "mb-2" %>
    <% end %>

    <div class="flex justify-end">
      <% if announcement.id %>
        <%= link_to "Cancel", guild_path(announcement.guild), class: "btn btn-error mr-2" %>
      <% end %>
      <%= f.submit class: "float-none" %>
    </div>
  <% end %>
</turbo-frame>

