<% cache [@post, @build, @current_user] do %>
  <a href="<%= post_path @post %>"
     data-turbo-frame="_top"
     class="bg-base-200 hover:bg-base-300 w-full px-4 py-3  card">
     <div class="flex items-center sm:items-end flex-col sm:flex-row mb-1">
       <img class="h-8 w-8 mr-2 rounded-full" src="<%= helpers.user_avatar(@post.user) %>" alt="">
       <span class="font-semibold text-xl">
         <%= @post.title.capitalize %>
       </span>
       <div class="text-beaver-300 ml-1">
         from <%= @post.user.name %>
       </div>
       <div class="ml-3 flex">
         <%= @post.category.name %>
         <%= octicon @post.category.icon, height:16, class: "fill-current ml-2 self-end mb-1" %>
       </div>
       <div>
         <%= render(StarsBadge.new(starable: @post, user: @current_user, transparent: true, visual: true)) %>
       </div>
     </div>
     <div class="text-beaver-300 text-center sm:text-left">
       <%= @post.summary %>
     </div>
  </a>
  <%= render(Posts::MiniFilesPreview.new(fileable: @build)) %>
<% end %>
