<div id="<%= dom_id @fileable, "mini_files_preview" %>" class="mb-4 bg-base-100 border-2 border-base-200 p-1 card rounded-t-none overflow-x-auto">
  <div class="flex items-center mx-auto sm:mx-0 w-fit sm:w-full">
    <% if @fileable.instance_of? Folder %>
      <button class="mr-2 flex items-center rounded p-2 hover:bg-beaver-800" data-reflex="click->Posts::MiniFilesPreviewReflex#back" data-folder-id="<%= @fileable.signed_id %>">
        back
      </button>
    <% end %>
    <% @fileable.folders.each do |folder| %>
      <button class="mr-2 flex items-center rounded p-2 hover:bg-beaver-800" data-reflex="click->Posts::MiniFilesPreviewReflex#open" data-folder-id="<%= folder.signed_id %>">
        <%= octicon "file-directory-fill", height: 15, class: "fill-current text-blue-400 mr-2" %>
        <%= folder.name %>
      </button>
    <% end %>
    <% @fileable.scripts.each do |script| %>
      <a href="<%= script_path script %>" data-turbo-frame="_top" class="mr-2 flex items-center rounded p-2 hover:bg-beaver-800">
        <%= octicon "file", height: 15, class: "fill-current mr-2" %>
        <%= script.name %>
      </a>
    <% end %>
    <div class="ml-0 sm:ml-auto">
      <%= render(Builds::ExportStringModal.new build: @fileable, class: "btn btn-xs whitespace-nowrap", style: "height: 40px") %>
    </div>
  </div>
</div>
