<div id="<%= dom_id @fileable, "mini_files_preview" %>" class="mb-4 bg-base-100 border-2 border-base-200 p-1 card rounded-t-none overflow-x-auto" data-controller="miniexplorer">
  <%= render(Layout::CoolTab.new(wrapper_html: {data: {miniexplorer_target: "explorer"}}, class: "relative flex transition-all ease-in-out delay-150 items-center mx-auto sm:mx-0 w-fit sm:w-full")) do |c| %>
      <% c.hightlight(class: "rounded bg-beaver-800") %>

      <% if @fileable.instance_of? Folder %>
        <% c.tab(class: "flex p-2 items-center mr-2",
                tag: :button,
                data: {action: "click->miniexplorer#back", folder_id: @fileable.signed_id}
                ) do %>
          back
        <% end %>
      <% end %>

      <% @fileable.folders.each do |folder| %>
        <% c.tab(class: "flex p-2 items-center mr-2",
                tag: :button,
                data: {action: "click->miniexplorer#open", folder_id: folder.signed_id}
                ) do %>
          <%= octicon "file-directory-fill", height: 15, class: "fill-current text-blue-400 mr-2" %>
          <%= folder.name %>
        <% end %>
      <% end %>

      <% @fileable.scripts.each do |script| %>
        <% c.tab(class: "flex p-2 items-center mr-2",
                tag: :a, data: {turbo_frame: "_top"},
                href: script_path(script)
                ) do %>
          <%= octicon "file", height: 15, class: "fill-current mr-2" %>
          <%= script.name %>
        <% end %>
      <% end %>


    <% c.append do %>
      <div class="ml-0 sm:ml-auto">
        <%= render(Builds::ExportStringModal.new build: @build, class: "btn btn-xs whitespace-nowrap", style: "height: 40px") %>
      </div>
    <% end %>
  <% end %>
</div>
