<div class="text-center">
  <h2 class="text-2xl mb-4">Edit <%= resource_name.to_s.humanize %></h2>
</div>


<%= form_for resource, as: resource_name, url: registration_path(resource_name), builder: DaisyFormBuilder, html: {method: "put", data: {turbo: "false"}} do |f| %>
  <%# <%= f.error_notification %>
  <div class="flex flex-col sm:flex-row" data-controller="avatar-preview">
    <div class="w-full">
      <%= f.group :avatar do %>
        <%= f.text_field :avatar, data: {avatar_preview_target: :input, action: "debounced:input->avatar-preview#update_image"} %>
      <% end %>
    </div>
    <div class="w-full flex flex-col sm:flex-row items-center justify-start order-first sm:order-last sm:px-2">
      <span class="mr-3 text-beaver-400 text-sm self-start">Preview: </span>
      <img class="h-16 w-16 border rounded-full mx-auto" data-avatar-preview-target="img" src="">
    </div>
  </div>

  <%= f.group :email do %>
    <%= f.text_field :email %>
  <% end %>

  <%= f.group :bank do %>
    <%= f.text_field :bank %>
  <% end %>

  <%= f.group :btc do %>
    <%= f.text_field :btc %>
  <% end %>

  <%= f.group :password, hint: "leave it blank if you don't want to change it", required: false do %>
    <%= f.password_field :password %>
  <% end %>

  <%= f.group :password_confirmation, required: false do %>
    <%= f.password_field :password_confirmation %>
  <% end %>

  <%= f.group :current_password, hint: "we need your current password to confirm your changes", required: false do %>
    <%= f.password_field :current_password %>
  <% end %>

  <%= f.submit "Update" %>
<% end %>

<% if current_user.uid.nil? %>
  <p class="mb-6">
    link your github account
    <%= button_to "Link Github", omniauth_authorize_path(resource_name, :github), class: "link", data: {turbo: false} %>
  </p>
<% else %>
  <%= render(Layout::ConfirmationDialog.new(class: "flex")) do |c| %>
    <% c.title { "Unlink github" } %>
    <% c.button(class: "btn btn-danger btn-sm mb-6") do %>
      Unlink github account
    <% end %>
    <% c.action(tag: :a, style: "danger", href: user_unlink_github_path(current_user), data: {turbo_method: :patch, turbo_frame: "_top"}){ "Unlink" } %>
  <% end %>
<% end %>

<%= link_to "Cancel my account",
  registration_path(current_user),
  class: "text-red-600",
  data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }
%>
