<% content_for :title, "Sign up" %>

<%= render "devise/shared/form_card" do %>
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.input :name,
      required: true,
      autofocus: true,
      input_html: { autocomplete: "name" }%>
    <%= f.input :password,
      required: true,
      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
      input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
      required: true,
      input_html: { autocomplete: "new-password" } %>

    <div class="text-right">
      <%= f.button :submit, "Sign Up", class: "text-white bg-indigo-700 rounded-md focus:bg-indigo-800 focus:outline-none py-2 px-5 cursor-pointer" %>
    </div>
  <% end %>
<% end %>
