<div class="relative h-40">
  <%= image_tag @guild.banner ? @guild.banner_url : image_url("userbanner2.svg"), class: "rounded-t h-40 w-full object-cover absolute" %>
</div>

<div class="bg-base-100 px-6">
  <div class="flex flex-col sm:flex-row relative z-1">
    <div class="flex">
      <img class="h-24 w-24 rounded-xl bg-base-200 -mt-6 mb-3 border border-4 border-base-100 object-cover" src="<%= @guild.avatar_url || image_url("user.png") %>" alt="">
      <div class="ml-3">
        <span class="font-semibold text-lg"><%= @guild.display_name %></span>
      </div>
    </div>
    <div class="flex ml-0 sm:ml-auto flex-col sm:flex-row">
      <div class="w-full sm:ml-3 mt-1 mr-2 flex flex-row sm:flex-col justify-between sm:justify-start">
        <%# <%= link_to user_path(@user), class: "link !text-neutral-content" do %>
        <%#   total posts: <b><%= @user.posts.count %></b>
        <%# <% end %>
        <%# <%= link_to path_to(request.url, stars: ""), class: "link !text-neutral-content" do %>
        <%#   total stars: <b><%= @user.stars.count %></b>
        <%# <% end %>
      </div>
    </div>
  </div>
</div>

<p>work in progress, guild system have nothing yet</p>
