<%= render(Layout::Toggle.new(tag: :div, open: true, id: "build-explorer", class: "overflow-x-hidden flex border border-beaver-700 rounded", style: "background: linear-gradient(to bottom, #3d262d 0%, #3d262d 50%, #2d1b21 50%, #2d1b21 100%);")) do |c| %>
  <%= render(c.toggleable()) do %>
    <%= render(BuildSelector.new(builds: @builds, selected_build: @selected_build)) %>
  <% end %>

  <div class="flex flex-col w-full">
    <%= render(FileableExplorer.new(fileable: @selected_build)) %>
    <div class="p-3 flex justify-between">
      <%= render(c.toggle(tag: :button, class: "button_secondary p-2 rounded")) do %>
        <%= octicon "three-bars", class: "fill-current" %>
      <% end %>

      <div class="flex">
        <%= render(Layout::Modal.new(tag: :div)) do |c| %>
          <% c.button(tag: :button, class: "button_secondary px-2 py-1 rounded mx-2 whitespace-nowrap text-ellipsis") { "Export string" } %>
          <% c.body do %>
            <textarea disabled=true" class="w-full break-all overflow-x-auto bg-beaver-1000 h-60"><%= @selected_build.export_string %></textarea>
          <% end %>
        <% end %>

        <% if @selected_build.files_attachment %>
          <%= link_to "Download build", rails_blob_path(@selected_build.files_attachment, disposition: "attachment"), class: "whitespace-nowrap text-ellipsis bg-green-700 hover:bg-green-600 px-2 py-1 rounded", rel: "noopener noreferrer", target: "_blank"  %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
