<button id="<%= dom_id @starable, "star_badge" %>"
  <% unless @visual %>
     data-reflex="click->StarsBadgeReflex#star"
     data-starable-id="<%= @starable.signed_id %>"
     data-starable-type="<%= @starable.class %>"
   <% end %>
     class="<%= "cursor-pointer" unless @visual %> ml-2 flex py-1 px-2 <%= "btn btn-secondary btn-xs btn-thin !py-0 !px-1" unless @transparent %> text-sm">
  <%= octicon stared? ? "star-fill" : "star", height: 16, class: "fill-current self-center mr-2"%>
  <%= @stars.length %>
</button>

