<div id="<%= dom_id @starable, "star_badge" %>" data-reflex="click->Stars::Badge::ComponentReflex#star" data-starable-id="<%= @starable.signed_id %>" data-starable-type="<%= @starable.class %>" class="cursor-pointer flex px-2 py-1 ml-2 rounded-md bg-beaver-800 hover:bg-beaver-700 text-sm">
  <%= octicon stared? ? "star-fill" : "star", height: 16, class: "fill-current self-center mr-2"%>
  <%= @stars.length %>
</div>

