<% if @disabled %>
  <%= button %>
<% else %>
  <%= content_tag(@tag, @sys_params) do %>
    <%= button %>

    <input type="checkbox" id="<%= @modal_id %>" class="modal-toggle" />

    <label for="<%= @modal_id %>" class="modal cursor-pointer">
      <%= dialog %>
    </label>
  <% end %>
<% end %>
