<%= content_tag(@tag, @sys_params) do %>
  <%= header if header %>
  <label for="<%= @modal_id %>" class="btn btn-sm btn-circle absolute right-4 top-5">✕</label>
  <%= body %>
  <%= footer %>
<% end %>
