<h2 class="text-center mb-6">changed files</h2>
<% @changed_files.each do |scripts| %>
  <% before_content = scripts[0]&.content || "" %>
  <% after_content = scripts[1]&.content || "" %>
  <%= scripts[0].scriptable.path_list.map(&:path)[1..].join("/") + "/" + scripts[0].name %>
  <%== Diffy::Diff.new(before_content, after_content).to_s(:html_simple) %>
<% end %>

<h2 class="text-center mb-6">deleted files</h2>
<% @deleted_files.each do |scripts| %>
  <% before_content = scripts[0]&.content || "" %>
  <% after_content = scripts[1]&.content || "" %>
  <%= scripts[0].scriptable.path_list.map(&:path)[1..].join("/") + "/" + scripts[0].name %>
  <%== Diffy::Diff.new(before_content, after_content).to_s(:html_simple) %>
<% end %>

<h2 class="text-center mb-6">added files</h2>
<% @added_files.each do |scripts| %>
  <% before_content = scripts[0]&.content || "" %>
  <% after_content = scripts[1]&.content || "" %>
  <%= scripts[1].scriptable.path_list.map(&:path)[1..].join("/") + "/" + scripts[1].name %>
  <%== Diffy::Diff.new(before_content, after_content).to_s(:html_simple) %>
<% end %>
