<div class="text-center text-3xl font-semibold">
  My posts
</div>

<br>

<%= render Layout::LinkGroup.new(2) do |c| %>
  <% c.link(name: "Published", link: path_to(request.url, published: "true"), active: params[:published] == "true" || params[:published].nil?) %>
  <% c.link(name: "Not Published", link: path_to(request.url, published: "false"), active: params[:published] == "false") %>
<% end %>

<br>

<table class="mx-auto mb-5">
  <tr>
    <td>Title</td>
    <td>Category</td>
    <td>Builds</td>
    <!-- <td>Publish status</td> -->
    <td>Actions</td>
  </tr>

  <% @posts.each do |post| %>
    <tr>
      <td>
        <%= post.title %>
      </td>
      <td>
        <%= post.category.name %>
      </td>
      <td>
        <%= post.builds.size %>
      </td>
      <td>
        <%= link_to "Edit", edit_post_path(post), class: "link" %>
        <%= link_to "Manage builds", builds_post_path(post), class: "link" %>
        <%= link_to "Destroy", @post, class: "link !text-red-400", data: { turbo_method: :delete, turbo_confirm: 'Are you sure?', turbo_frame: "_top" } %>
      </td>
    </tr>
  <% end %>
</table>

<%= render(Pagination.new(pagy: @pagy)) if @pagy %>
