<div class="text-center text-3xl font-semibold">
  My posts
</div>

<br>

<%= render Layout::LinkGroup.new(2) do |c| %>
  <% c.link(name: "Published", link: path_to(request.url, published: "true"), active: params[:published] == "true" || params[:published].nil?) %>
  <% c.link(name: "Not Published", link: path_to(request.url, published: "false"), active: params[:published] == "false") %>
<% end %>

<br>

<%= render(Layout::Table.new(class: "mb-5")) do |c| %>
  <% c.row do |cc| %>
    <% cc.column { "Title" } %>
    <% cc.column { "Category" } %>
    <% cc.column { "Build" } %>
    <% cc.column { "Actions" } %>
  <% end %>

  <% @posts.each do |post| %>
    <% c.row do |cc| %>
      <% cc.column { link_to post.title, post_path(post), class: "link" } %>
      <% cc.column { post.category.name } %>
      <% cc.column { post.builds.size.to_s } %>
      <% cc.column do %>
        <div class="flex w-fit ml-auto">
          <% if post.published == false %>
            <% post.published = true %>
            <% if post.valid? %>
              <button class="rounded p-2 mr-2 button_success" data-reflex="click->FileableForm::Reflex#publish_post" data-post-id="<%= post.signed_id %>">
                publish
              </button>
            <% else %>
              <span class="p-2 rounded bg-beaver-800 text-red-400 mr-2 flex items-center">
                publish
              </span>
            <% end %>
          <% end %>
          <%= link_to "Manage builds", post_builds_path(post), class: "button_info p-2 rounded mr-2" %>
          <%= link_to edit_post_path(post), class: "p-2 rounded button_info mr-2 flex items-center" do %>
            <%= octicon "pencil", height: 16, class: "fill-current" %>
          <% end %>
          <%= link_to post_path(post), class: "p-2 rounded button_danger flex items-center", data: { turbo_method: :delete, turbo_confirm: 'Are you sure?', turbo_frame: "_top" } do %>
            <%= octicon "trash", height: 16, class: "fill-current" %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<%= render(Pagination.new(pagy: @pagy)) if @pagy %>
