<% title @user.name %>

<div class="relative h-40">
  <%= image_tag @user.banner ? @user.banner_url : image_url("userbanner2.svg"), class: "rounded-t h-40 w-full object-cover absolute" %>
</div>

<div class="bg-base-100 px-6">
  <div class="flex flex-col sm:flex-row relative z-1">
    <div class="flex">
      <div class="relative h-24 w-24">
        <img class="absolute h-24 w-24 rounded-xl bg-base-200 -mt-6 mb-3 border border-4 border-base-100 object-cover" src="<%= user_avatar(@user) %>" alt="user avatar" />
        <% if @user.guild && @user.guild.badge %>
          <%= link_to guild_path(@user.guild) do %>
            <img class="h-8 w-8 rounded-xl bg-base-200 border border-4 border-base-100 object-cover absolute bottom-6 right-0" src="<%= @user.guild.badge_url %>" alt="user guild badge" />
          <% end %>
        <% end %>
      </div>

      <div class="ml-3">
        <span class="font-semibold text-lg"><%= @user.display_name %></span>
        <% if @user.supporter? %>
          <span class="block">
            <%= supporter_badge %>
          </span>
        <% end %>
      </div>
    </div>
    <div class="flex ml-0 sm:ml-auto flex-col sm:flex-row">
      <div class="w-full sm:w-fit mt-1 flex flex-row sm:flex-col justify-between sm:justify-start">
        <% if @user.btc %>
          <span class="mr-3 whitespace-nowrap">BTC: <%= @user.btc %></span>
        <% end %>
        <% if @user.bank %>
          <span class="mr-3 whitespace-nowrap">bank: <%= @user.bank %></span>
        <% end %>
      </div>

      <%= render(Layout::CoolTab.new(class: "w-full sm:ml-3 mt-1 mr-2 flex flex-row sm:flex-col justify-between sm:justify-start")) do |c| %>
        <% c.hightlight(class: "rounded bg-beaver-800") %>
        <% items_class = "px-2" %>

        <% c.tab(tag: :a, href: user_path(@user), class: items_class) do %>
          posts: <b><%= @user.posts.count %></b>
        <% end %>
        <% c.tab(tag: :a, href: path_to(request.path, stars: ""), class: items_class) do %>
          stars: <b><%= @user.stars.count %></b>
        <% end %>
        <% c.tab(tag: :a, href: path_to(request.path, gists: ""), class: items_class) do %>
          gists: <b><%= @user.gists.not_anonymous.count %></b>
        <% end %>
      <% end %>
    </div>
  </div>
</div>


<div class="divider sm:mt-0"></div>

<% if params[:stars] %>
  <% if @starred_posts.empty? %>
    <div class="bg-beaver-800 rounded p-6 text-beaver-200">
      User doest have any starred posts
    </div>
  <% else %>
    <turbo-frame id="starred_posts">
      <% @starred_posts.each do |post| %>
        <%= render(Posts::Card.new(current_user: current_user, post: post)) %>
      <% end %>

      <%= render(Pagination.new(pagy: @stars_pagy)) if @stars_pagy %>
    </turbo-frame>
  <% end %>
<% elsif params[:gists] %>
  <% if @gists.empty? %>
    <div class="bg-beaver-800 rounded p-6 text-beaver-200">
      User doest have any gists
    </div>
  <% else %>
    <turbo-frame id="starred_posts">
      <%= render @gists %>

      <%= render(Pagination.new(pagy: @gists_pagy)) if @gists_pagy %>
    </turbo-frame>
  <% end %>
<% else %>
  <%= render(Users::PostsBox.new(user: @user, current_user: current_user, posts: @posts, pagy: @category_pagy, active_tab: @category)) %>
<% end %>

