<% title @user.name %>

<img class="rounded-t h-40 w-full object-cover" src="<%= image_url("userbanner.svg") %>">
<div class="bg-base-100 px-6">
  <div class="flex flex-col sm:flex-row">
    <div class="flex">
      <img class="h-24 w-24 rounded-xl bg-base-200 -mt-6 mb-6 border border-4 border-base-100 object-cover" src="<%= user_avatar(@user) %>" alt="">
      <div class="ml-3">
        <span class="font-semibold text-lg"><%= @user.name %></span>
        <% if @user.supporter? %>
          <span class="block">
            <%= supporter_badge %>
          </span>
        <% end %>
      </div>
    </div>
    <div class="flex ml-0 sm:ml-auto">
      <div class="mb-6 sm:mb-0 mt-1">
        <% if @user.btc %>
          <span class="mr-3">BTC: <%= @user.btc %></span>
        <% end %>
        <% if @user.bank %>
          <span class="mr-3 block">bank: <%= @user.bank %></span>
        <% end %>
      </div>
      <div class="ml-auto sm:ml-3 mt-1 mr-2">
        <span>total posts: <%= @user.posts.count %></span>
        <span class="block">total stars: <%= @user.stars.count %></span>
      </div>
    </div>
  </div>
  <!-- <div class="flex"> -->
  <!--   <%# <%= link_to user_path(@user), class: "btn bnt-glass btn-sm" do %> -->
    <!--   <%#   <%= @user.posts.count %> Posts -->
    <!--   <%# <% end %> -->
  <!--   <%# <%= link_to path_to(request.url, stars: ""), class: "btn bnt-glass btn-sm ml-2" do %> -->
    <!--   <%#   <%= @user.stars.count %> Stars -->
    <!--   <%# <% end %> -->
  <!-- </div> -->
</div>
<%= render Layout::LinkGroup.new(gap: 0) do |c| %>
  <% custom = {class:"border-t border-b bg-base-200 hover:bg-base-200/80 active:bg-base-200 p-4 border-primary w-full text-center", active: " !bg-base-300 !hover:bg-base-300 !active:bg-base-300 cursor-default"} %>
  <% c.link(name: "Posts", link: user_path(@user), active: params[:stars].nil?, custom: custom) %>
  <% c.link(name: "Stars", link: path_to(request.url, stars: ""), active: params[:stars] == "", custom: custom) %>
<% end %>

<br><br>

<% if params[:stars].nil? %>
  <div class="block text-center text-2xl font-semibold mb-5">
    <%= @user.name.capitalize %>'s posts
  </div>

  <%= render(Users::PostsBox.new(user: @user, current_user: current_user, posts: @posts, pagy: @category_pagy, active_tab: @category)) %>
<% else %>
  <div class="block text-center text-2xl font-semibold mb-5">
    <%= @user.name.capitalize %>'s stars
  </div>

  <% if @starred_posts.empty? %>
    <div class="bg-beaver-800 rounded p-6 text-beaver-200">
      You dont have any starred posts
    </div>
  <% else %>
    <turbo-frame id="starred_posts">
      <% @starred_posts.each do |post| %>
        <%= render(Posts::Card.new(current_user: current_user, post: post)) %>
      <% end %>

      <%= render(Pagination.new(pagy: @stars_pagy)) if @stars_pagy %>
    </turbo-frame>
  <% end %>
<% end %>

