<% title @user.name %>

<div class="flex justify-center items-start mb-5">
  <img class="h-20 w-20 rounded-full ml-2" src="<%= user_avatar(@user) %>" alt="">
  <div class="flex ml-2 flex-col">
    <span class="font-semibold text-lg"><%= @user.name %></span>
    <div class="flex">
      <div class="flex flex-col">
        <% if @user.btc %>
          <span class="mr-3">BTC: <%= @user.btc %></span>
        <% end %>
        <% if @user.bank %>
          <span class="mr-3">bank: <%= @user.bank %></span>
        <% end %>
      </div>
      <span>total posts: <%= @user.posts.count %></span>
    </div>
  </div>
</div>

<div class="block text-center text-2xl font-semibold mb-5">
  <%= @user.name.capitalize %>'s posts
</div>

<%= render(Users::PostsBox.new(user: @user, current_user: current_user, posts: @posts, pagy: @category_pagy, active_tab: @category)) %>

<div class="block text-center text-2xl font-semibold mb-5 mt-5">
  <%= @user.name.capitalize %>'s stars
</div>

<turbo-frame id="starred_posts">
  <% @starred_posts.each do |post| %>
    <%= render(Posts::Card.new(current_user: current_user, post: post)) %>
  <% end %>

  <%= render(Pagination.new(pagy: @stars_pagy)) if @stars_pagy %>
</turbo-frame>
