<% if @disabled %>
  <%= button %>
<% else %>
  <%= content_tag(@tag, @sys_params) do %>
    <%= button %>

    <div data-modal-target="container" data-action="click->modal#closeBackground keyup@window->modal#closeWithKeyboard" class="hidden animated fadeIn fixed inset-0 overflow-y-auto flex justify-center" style="z-index: 9999;">
      <div class="w-full mt-auto mb-auto relative mx-2 bg-beaver-900 rounded">
        <div class="flex justify-end items-center flex-wrap mb-2 mt-2 mr-2">
          <button class="bg-beaver-800 hover:bg-beaver-700 text-white font-bold py-2 px-2 rounded" data-action="click->modal#close">
            <%= octicon "x", height: 16, class: "fill-current" %>
          </button>
        </div>

        <div class="text-left overflow-x-auto w-full" style="background-color: #1d1f21;">
          <%= body %>
        </div>

        <div class="flex justify-end items-center flex-wrap mt-2 mb-2 mr-2">
          <button class="bg-beaver-800 hover:bg-beaver-700 text-white font-bold py-2 px-4 rounded" data-action="click->modal#close">Close</button>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
