<%= GreyParser::Encoder.encode(["T", "O", "B", "E", "O", "R", "N", "O", "T", 256, 258, 260, 265, 259, 261, 263]) %>
<div class="relative">
  <%= render(Layout::Dropdown.new(direction: :left, class: "absolute right-0 top-0")) do |c| %>
    <% c.button(tag: :button, class: "btn btn-thin p-3 rounded-full") do %>
      <%= octicon :megaphone, class: "fill-current" %>
    <% end %>
    <% c.menu(class: "mt-3 flex-nowrap !w-96 bg-base-200 shadow-xl border border-white/10 overflow-y-auto p-0", style: "height: 400px", card: true) do |cc| %>
      <div class="border-b border-white/10 p-2">
        Recent Builds
      </div>

      <% @builds.each do |build| %>
        <% cache build.cache_key + time_ago_in_words(build.created_at) do %>
          <div class="rounded border border-white/10 p-2 m-2">
            <span class="text-beaver-400"> new </span>
            <%= build.name %>
            <span class="text-beaver-400"> build on </span>
            <%= link_to post_path(build.post), class: "link" do %>
              <%= build.post.title %>
            <% end %>
            <br>
            <% if build.message %>
              <span class="text-beaver-400">notes: </span><%= build.message %>
              <br>
            <% end %>
            <span class="text-beaver-400">
              created <%= time_ago_in_words(build.created_at) %> ago
            </span>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
<%= render(Overview.new(current_user: current_user, posts: @posts, pagy: @pagy)) %>
