<% title "Log In" %>
<% content_for :title, "Log In" %>

<%= render "devise/shared/form_card" do %>
  <%= form_for resource, as: resource_name, url: session_path(resource_name), builder: DaisyFormBuilder, html: { data: {turbo: "false"}} do |f| %>
    <%= f.group :name do %>
      <%= f.text_field :name %>
    <% end %>

    <%= f.group :password do %>
      <%= f.password_field :password %>
    <% end %>

    <div class="form-control my-4">
      <label class="label cursor-pointer">
        <span class="label-text">Remember me</span> 
        <%= f.check_box :remember_me if devise_mapping.rememberable? %>
      </label>
    </div>

    <div class="text-right">
      <%= f.submit "Log in", class: "!float-none" %>
    </div>
  <% end %>
<% end %>
