<% content_for :title, "Log In" %>

<%= render "devise/shared/form_card" do %>
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: "false" }) do |f| %>
    <%= f.input :name,
      required: true,
      autofocus: true,
      input_html: { autocomplete: "name" }%>
    <%= f.input :password,
      required: true,
      input_html: { autocomplete: "new-password" } %>
    <%= f.input :remember_me,
      as: :boolean if devise_mapping.rememberable? %>
    <div class="text-right">
      <%= f.button :submit, "Log In" %>
    </div>
  <% end %>
<% end %>
