<nav class="bg-beaver-800 mx-4 mt-4 mb-10 rounded-xl" data-controller="dropdown">
  <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
    <div class="relative flex items-center justify-between h-16">
      <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
        <!-- Mobile menu button-->
        <button type="button" class="inline-flex items-center justify-center p-2 rounded-md text-beaver-400 hover:text-white hover:bg-beaver-700 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-beaver-500" aria-controls="mobile-menu" aria-expanded="false" data-action="click->dropdown#toggle click@window->dropdown#hide" data-dropdown-target="button">
          <span class="sr-only">Open main menu</span>
          <!--
            Icon when menu is closed.

            Heroicon name: outline/menu

            Menu open: "hidden", Menu closed: "block"
          -->
          <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
          </svg>
          <!--
            Icon when menu is open.

            Heroicon name: outline/x

            Menu open: "block", Menu closed: "hidden"
          -->
          <svg class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
      <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start">
        <a href="<%= root_path %>" class="flex-shrink-0 flex items-center">
          <img class="block h-8 w-auto" src="<%= helpers.image_url("logo2.svg")%>" alt="Workflow">
        </a>
        <div class="hidden sm:block sm:ml-6">
          <div class="flex space-x-4">
            <%= render(Layout::NavBar::Links::Component.new())%>
          </div>
        </div>
      </div>
      <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
        <%= render(Layout::NavBar::Notifications::Component.new(user: current_user)) if current_user %>
        <%= render(Layout::NavBar::Profile::Component.new()) %>
      </div>
    </div>
  </div>

  <!-- Mobile menu, show/hide based on menu state. -->
  <div class="sm:hidden hidden" id="mobile-menu" data-dropdown-target="menu">
    <div class="px-2 pt-2 pb-3 space-y-1">
      <%= render(Layout::NavBar::Links::Component.new(mobile: true))%>
    </div>
  </div>
</nav>
