<%= render(Posts::BuildsCard::BuildSelector::Component.new(builds: @post.builds, edit: @edit, selected_build: @selected_build)) %>
<%= render(Posts::BuildsCard::FileableList::Component.new(fileable: @selected_build, edit: @edit)) if @selected_build %>

<% if @selected_build && @selected_build.files_attachment && !@edit %>
  <div class="flex justify-end">
    <%= link_to "Download #{@selected_build.name} files", rails_blob_path(@selected_build.files_attachment, disposition: "attachment"), class: "bg-green-700 hover:bg-green-600 p-2 rounded mt-6" %>
  </div>
<% end %>

<% if !@edit %>
  <%= render(Layout::Toggle.new(class: "w-full mt-3")) do |c| %>
    <%= render(c.toggle(tag: :button, class: "w-full button_secondary")) { "export string" } %>
    <%= render(c.toggleable(tag: :textarea, disabled: true, class: "w-full break-all overflow-x-auto bg-beaver-1000")) { @export_string } %>
    <a class="link" href="https://www.greyrepo.xyz/posts/folder-parser">How to use it<a>
  <% end %>
<% end %>
