<%= posts_path %>
<% files.each do |file| %>
  <%= file_button(file) do %>
    <%= octicon file_icon(file), class: "fill-current mr-2" %>
    <%= file.name %>
  <% end %>
  <%= render(FileableForm::Tree.new(fileable: file, depth: depth + 1)) if file.instance_of?(Folder)%>
<% end %>

<%= tree_controls do %>
  <button class="link whitespace-nowrap mr-2" data-reflex="click->FileableForm::Reflex#add_script" data-fileable-id="<%= @fileable.signed_id %>" data-fileable-type="<%= @fileable.class %>">
    Add script
  </button>

  <button class="link whitespace-nowrap" data-reflex="click->FileableForm::Reflex#add_folder" data-fileable-id="<%= @fileable.signed_id %>" data-fileable-type="<%= @fileable.class %>">
    Add folder
  </button>
<% end %>
