<div>
  <div class="flex" style="padding-left: <%= @depth > 1 ? 30 : 0 %>px">
    <% if @depth > 0 && (!@fileable.scripts.empty? || !@fileable.folders.empty?) %>
      <div class="border border-beaver-700" style="margin-bottom: 24px; <%= "height: 25px" unless @fileable.scripts.size + @fileable.folders.size > 1 %>"></div>
    <% end %>
    <div class="bg-beaver-850 w-full">
      <% @fileable.folders.each do |folder| %>
        <%= render(Layout::Toggle.new(open: @edit, disabled: @edit, class: "w-full")) do |c| %>
          <%= render(c.toggle(tag: :div)) do %>
            <%= render(Posts::BuildsCard::FileableList::Item::Component.new(file: folder, depth: @depth, edit: @edit, index: "#{@fileable_index}_#{@index_table.key(folder)}")) %>
          <% end %>
          <%= render(c.toggleable) do %>
            <%= render(Posts::BuildsCard::FileableList::Component.new(fileable: folder, depth: @depth + 1, edit: @edit, index_table: @index_table)) %>
          <% end %>
        <% end %>
      <% end %>
      <% @fileable.scripts.each do |script| %>
        <%= render(Posts::BuildsCard::FileableList::Item::Component.new(file: script, depth: @depth, edit: @edit, index: "#{@fileable_index}_#{@index_table.key(script)}")) %>
      <% end %>
    </div>
  </div>

  <% if @depth == 0 %>
    <div class="bg-beaver-850 flex p-3 w-full rounded-b-md" style="margin-top: -1px">
      <% if @edit %>
        <button class="link mr-2" data-reflex="click->Posts::BuildsCard::FileableList::ComponentReflex#add_file" data-type="script">Add script</button>
        <button class="link" data-reflex="click->Posts::BuildsCard::FileableList::ComponentReflex#add_file" data-type="folder">Add folder</button>
        <button class="link ml-auto" data-reflex="click->Posts::BuildsCard::FileableList::ComponentReflex#update">Update</button>
      <% end %>
    </div>
  <% end %>
</div>
