<%= simple_form_for(post) do |f| %>
  <%= f.input :title %>
  <%= f.input :summary %>
  <%= f.input :readme %>
  <p>scripts</p>
  <%= f.simple_fields_for(:scripts) do |ff| %>
    <%= ff.input :content %>
  <% end %>
  <%= f.button :submit %>
<% end %>

<%= alert %>
<%= notice %>
<%= post.errors.to_h %>
