<%= form_for post, builder: DaisyFormBuilder, html: {data: {controller: "attachments"}} do |f| %>
  <%= f.group :title do %>
    <%= f.text_field :title %>
  <% end %>

  <div class="flex flex-wrap overflow-hidden sm:-mx-3">
    <div class="w-full overflow-hidden sm:w-1/2 sm:my-3 sm:px-3">
      <%= f.group :visibility do %>
        <%= f.select :visibility, Post.visibilities.keys %>
      <% end %>
    </div>
    <div class="w-full overflow-hidden sm:w-1/2 sm:my-3 sm:px-3">
      <%= f.group :category do %>
        <%= f.select :category_id,
          options_from_collection_for_select(Category.all, :id, :name), disabled: "", prompt: 'Select a category' %>
      <% end %>
    </div>
  </div>

  <%= f.group :summary do %>
    <%= f.text_area :summary %>
  <% end %>

  <%= f.group :readme do %>
    <%= f.rich_text_area :readme, as: :rich_text_area, data: {attachments_target: "editor"} %>
  <% end %>

  <%= render(Layout::Dropdown.new()) do |c| %>
    <% c.button(tag: :button, type: "button", class: "btn") do %>
      attach post
    <% end %>
    <% c.menu do |cc| %>
      <input class="mb-2 input input-bordered w-full" data-attachments-target="input" type="text" placeholder="Enter a post id"></input>
      <% cc.item(tag: :div, class: "text-center", data: { action: "click->attachments#attach" }) { "Attach" } %>
    <% end %>
  <% end %>

  <%= f.submit %>
<% end %>

