<%= simple_form_for(post, html: {data: {controller: "attachments"}}) do |f| %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <%= f.error_notification %>
  <% if post.errors[:files].length != 0 %>
    <% post.errors[:files].each do |error| %>
      <%= "post files #{error}" %>
    <% end %>
  <% end %>

  <%= f.input :title %>

  <div class="flex flex-wrap overflow-hidden sm:-mx-3">
    <div class="w-full overflow-hidden sm:w-1/2 sm:my-3 sm:px-3">
      <%= f.input :visibility, as: :select, prompt: "Select a visibility option", collection: Post.visibilities.keys %>
    </div>
    <div class="w-full overflow-hidden sm:w-1/2  sm:my-3 sm:px-3">
      <%= f.association :category, prompt: "Select a category", collection: Category.all %>
    </div>
  </div>

  <%= f.input :summary, as: :text%>
  <div id="trix_editor" data-reflex-permanent>
    <%= f.input :readme, as: :rich_text_area, label: "Readme (optional)", input_html: {class: "border-beaver-850 !bg-beaver-900", data: {attachments_target: "editor"}}%>

    <%= render(Layout::Dropdown.new()) do |c| %>
      <% c.button(tag: :button, type: "button", class: "px-3 py-2 rounded bg-beaver-800") do %>
        attach post
      <% end %>
      <% c.menu do |cc| %>
        <div class="text-black px-2 py-2">
          <input class="w-full border rounded py-2 px-2" data-attachments-target="input" type="text" placeholder="Enter a post id"></input>
        </div>
        <% cc.item(tag: :div, class: "text-center", data: { action: "click->attachments#attach" }) { "Attach" } %>
      <% end %>
    <% end %>
  </div>

  <div class="text-center text-2xl mb-4">
    Post's Files
  </div>

  <%= render(Posts::BuildsCard::Component.new(post: @post, edit: true)) %>
  <br>

  <%= f.simple_fields_for(:builds) do |ff| %>
    <div class="<%= "hidden" unless ff.object == params[:edit_file] %>">
      <div class="nested-form-wrapper rounded bg-beaver-850 p-3 mb-3">
        <%= ff.input :name %>

        <%= ff.input :_destroy, as: :hidden %>
      </div>
    </div>

    <%= ff.simple_fields_for(:folders) do |fff| %>
      <%= render("folder_form", f: fff) %>
    <% end %>

    <%= ff.simple_fields_for(:scripts) do |fff| %>
      <%= render("script_form", f: fff) %>
    <% end %>
  <% end %>

  <div class="flex justify-end">
    <% if session[:forms] %>
      <% if params[:action] == "edit" && session[:forms]["Post_#{@post.friendly_id}"] || params[:action] == "new" && session[:forms]["Post"] %>
        <div class="text-white bg-red-700 rounded-md focus:bg-red-800 focus:outline-none py-2 px-5 cursor-pointer mr-2"
          data-form="<%= params[:action] == "edit" ? "Post_#{@post.friendly_id}" : "Post" %>"
          data-reflex="click->FormsReflex#discard_session_form">
          Discard changes
        </div>
      <% end %>
    <% end %>
    <%= f.button :submit %>
  </div>
<% end %>
