<h1 class="text-center text-3xl font-semibold mb-6">
  <%= @post.title %>
  <%= published_status(@post) %>
</h1>

<% if !@post.published? %>

<% @post.published = true; @post.valid? %>
<% if @post.errors.any? %>
  <div class="text-center text-red-600 mb-5">
    <p> ERRORS: </p>
    <% @post.errors.each do |error| %>
      * 
      <%= error.message %>
    <% end %>
  </div>
<% else %>
  <p class="text-center text-green-400">
    Post ready to publish
  </p>

  <%= render(Layout::ConfirmationDialog.new()) do |c| %>
    <% c.title { "Publish post " + @post.title } %>
    <% c.button(class: "mb-5 btn btn-success btn-thin mx-auto w-fit block py-1 px-2") { "Publish post" } %>
    <% c.action(tag: :a, href: post_publish_path(@post), style: "success", data: {turbo_method: :patch}){ "Publish" } %>
  <% end %>
<% end %>
<% end %>

<h2 class="text-center text-2xl font-semibold mb-6">
  Post build editor
</h2>

<div id="fileable-list" class="w-full mx-auto">
  <%= render(Layout::Table.new(class: "#{"!rounded-b-none" if @selected_build}")) do |c| %>
    <% c.head do |cc| %>
      <% cc.column(class: "!text-left") { "Name" } %>
      <% cc.column(class: "!text-left") { "Published" } %>
      <% cc.column(class: "") { "Actions" } %>
    <% end %>

    <% @builds.each do |build| %>
      <%= next if defined?(@selected_build) && @selected_build != build %>
      <% selected = @selected_build == build %>
      <% c.row(class: "#{"bg-primary" if selected}") do |cc| %>
        <% cc.column do %>
          <% if selected %>
            <input data-reflex="debounced:input->FileableForm::Reflex#update_build_name" data-build-id="<%= build.signed_id %>" class="input" type="text" value="<%= build.name %>"></input>
          <% else %>
            <div class="flex items-center">
              <%= build.name %>
              <% if !selected %>
                <%= render(Builds::ExportStringModal.new build: build, class: "btn btn-thin ml-2 p-2") do %>
                  <%= octicon "copy", class: "fill-current" %>
                <% end %>
              <% end %>
            </div>
          <% end %>
        <% end %>
        <% cc.column { published_status(build) } %>
        <% cc.column do %>
          <div class="flex justify-end">
            <% if build.published == false %>
              <% if build.ready_to_publish? %>
                <%= render(Layout::ConfirmationDialog.new(class: "flex")) do |c| %>
                  <% c.title { "Publish " + build.name } %>
                  <% c.button(class: "btn btn-success btn-thin p-2 mr-2") { "Publish" } %>
                  <% c.action(tag: :a, style: "success", href: build_publish_path(build), data: {turbo_method: :patch, turbo_frame: "_top"}){ "Publish" } %>
                <% end %>
              <% else %>
                <span class="btn btn-disabled btn-thin p-2 mr-2">
                  publish
                </span>
              <% end %>
              <%= link_to selected ? post_builds_path(@post) : path_to(request.url, build_id: build.id), class: "btn btn-info btn-thin p-2 mr-2" do %>
                <%= octicon "pencil", height: 16, class: "fill-current" %>
              <% end %>
            <% end %>
            <% if build.published %>
              <%= button_tag class: "btn btn-thin p-2 mr-2", data: {reflex: "click->BuildReflex#clone_build", build_id: build.signed_id} do %>
                clone
              <% end %>
            <% end %>
            <%= render(Layout::ConfirmationDialog.new(class: "flex")) do |c| %>
              <% c.title { "Delete " + build.name } %>
              <% c.button(class: "btn btn-danger btn-thin p-2 mr-2") do %>
                <%= octicon "trash", height: 16, class: "fill-current" %>
              <% end %>
              <% c.action(tag: :a, style: "danger", href: build_path(build), data: {turbo_method: :delete, turbo_frame: "_top"}){ "Delete" } %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    <% end %>

    <% if @selected_build.nil? %>
      <% c.foot do |cc| %>
        <% cc.column(colspan: 999) do %>
          <button class="btn btn-info btn-thin px-2 float-right" data-reflex="click->FileableForm::Reflex#add_build" data-post-id="<%= @post.signed_id %>">
            Add Build
          </button>
        <% end %>
      <% end %>
    <% end %>
  <% end %>


  <% if @selected_build %>
    <%= render(Layout::Table.new(class: "rounded-t-none")) do |c| %>
      <% c.head do |cc| %>
        <% cc.column { "Build files" } %>
      <% end %>
      <% c.row do |cc| %>
        <% cc.column(class: "!p-0") do %>
          <%= render(BuildEditor.new(build: @selected_build, file: @selected_file)) %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
