<div class="text-center text-3xl font-semibold mb-6">
  Post build editor
</div>

<div id="fileable-list">
  <% @post.builds.each do |build| %>
    <p class="text-center">
      <%= build.name %> 
      <span class="<%= build.published? ? "text-green-400" : "text-red-400" %>">
        <%= build.published ? "published" : "unpublished" %> 
      </span>
      <a class="link" href="<%= path_to(request.url, build_id: build.id) %>">
        Edit
      </a>
      <button class="link" data-reflex="click->FileableForm::Reflex#select" data-build-id="<%= build.id %>">
        Edit
      </button>
    </p>
  <% end %>
</div>

<% if @selected_build %>
  <div id="fileable-tree">
    <%= render(FileableForm::Tree.new(fileable: @selected_build)) %>
  </div>

  <div id="build-form">
    <%= render("builds/form", build: @selected_build) %>
  </div>
<% end %>
