<% unless @post.readme.embeds_attachments.blank? %>
  <%= url_for @post.readme.embeds_attachments.last %>
  <%= rails_blob_path @post.readme.embeds_attachments.last %>
<% end %>


<div class="text-center text-3xl font-semibold">
  <%= @post.title.capitalize %>
</div>

<div class="text-center flex justify-center">
  <%= @post.category.name %>
  <%= octicon @post.category.icon, height: 16, class: "fill-current self-end mb-1 ml-2" %>
</div>

<div class="text-beaver-300 text-center mt-3">
  <%= @post.summary %>
</div>

<% if @post.readme %>
  <div class="mt-3">
    <%= @post.readme %>
  </div>
<% end %>

<%= render(Scripts::Card::Component.new(script: @post.scripts.last)) %>

<a href="<%= user_path @post.user %>" class="hover:underline text-center mt-10 mb-10 flex justify-center items-center text-blue-400">
  from <%= @post.user.name %>
  <img class="h-8 w-8 rounded-full ml-2" src="/assets/user.png" alt="">
</a>

