<% set_meta_tags title: @post.title,
                 description: @post.summary %>

<div class="flex justify-center text-3xl font-semibold items-end">
  <%= @post.title.capitalize %>
  <%= render(Stars::Badge::Component.new(starable: @post)) %>
</div>

<div class="text-center flex justify-center">
  <%= @post.category.name %>
  <%= octicon @post.category.icon, height: 16, class: "fill-current self-end mb-1 ml-2" %>
  <a href="<%= user_path @post.user %>" class="link text-center ml-2 flex justify-center items-center">
    from <%= @post.user.name %>
  <img class="h-4 w-4 rounded-full ml-2" src="<%= user_avatar(@post.user) %>" alt="">
  </a>
</div>

<div class="text-beaver-300 text-center mt-3">
  <%= @post.summary %>
</div>

<% if @post.readme %>
  <div class="mt-20">
    <%= @post.readme %>
  </div>
<% end %>

<div class="text-center text-2xl mb-4 mt-20">
  Files
</div>

<%= render(Fileables::List::Component.new(fileable: @post)) %>

<% if @post.files_attachment %>
  <div class="flex justify-end">
    <%= link_to "download files", rails_blob_path(@post.files_attachment, disposition: "attachment"), class: "bg-green-700 hover:bg-green-600 p-2 rounded mt-6" %>
  </div>
<% end %>

<br>

<div class="text-2xl text-center block mt-20">
  Post's comments
</div>
<br>
<%= render(Comments::List::Component.new(commentable: @post)) %>
<br>

<% if current_user %>
<% end %>
<%= render(Comments::Form::Component.new()) %>

