<div class="flex justify-center text-3xl font-semibold items-end">
  <%= @post.title.capitalize %>
  <%= render(Stars::Badge::Component.new(starable: @post)) %>
</div>

<div class="text-center flex justify-center">
  <%= @post.category.name %>
  <%= octicon @post.category.icon, height: 16, class: "fill-current self-end mb-1 ml-2" %>
  <a href="<%= user_path @post.user %>" class="hover:underline text-center ml-2 flex justify-center items-center text-blue-400">
    from <%= @post.user.name %>
  <img class="h-4 w-4 rounded-full ml-2" src="<%= user_avatar(@post.user) %>" alt="">
  </a>
</div>

<div class="text-beaver-300 text-center mt-3">
  <%= @post.summary %>
</div>

<% if @post.readme %>
  <div class="mt-3">
    <%= @post.readme %>
  </div>
<% end %>

<div class="text-center text-2xl mb-4">
  Files
</div>

<%= render(Layout::LinkGroup::Component.new(@post.scripts.size, :vertical)) do |c| %>
  <% @post.scripts.each_with_index do |script, index| %>
    <% c.link(disabled: false, html_class: {bg: "", container: ""} ) do %>
      <%= render(Scripts::Card::Component.new(script: @post.scripts.last, first: index == 0, last: index == @post.scripts.size - 1)) %>
    <% end %>
  <% end %>
<% end %>

<br>

<div class="text-2xl text-center block">
  Post's comments
</div>
<br>
<%= render(Comments::List::Component.new(commentable: @post)) %>
<br>
<%= render(Comments::Form::Component.new()) %>
