<a class="<%= @class %>"
  <% if @reflex %>
     data-reflex="click-><%= @reflex %>"
     data-page="<%= @page %>"
   <% else %>
    <%# todo: just dont ? %>
     href="<%= @link.blank? ? "?" : @link + "&" %>page=<%= @page %>"
  <% end %>
   >
   <%= content %>
</a>
