<a href="<%= user_path @user %>" class="p-3 rounded hover:bg-base-200 bg-base-300 border border-base-300 flex gap-2 flex-col sm:flex-row items-center mb-6">
  <img class="h-10 w-10 mr-2 rounded-full" src="<%= helpers.user_avatar(@user) %>" alt="user avatar">
  <div>
    <%= @user.name %>
  </div>
  <% if @user.supporter? %>
    <%= supporter_badge %>
  <% end %>
  <div class="sm:ml-auto flex flex-col sm:flex-row gap-2 items center text-center">
    <span>stars: <%= @user.stars.count %></span>
    <span>total posts: <%= @user.posts.count %></span>
  </div>
</a>
