<%= render(Layout::Toggle::Component.new(class: "w-full")) do |c| %>
  <div class="flex w-full justify-start">
    <div class="w-full">
      <%= render(c.toggle(tag: :button, class: "flex w-full p-3 #{params[:edit_file] == @script ? 'bg-beaver-700' : 'bg-beaver-800'} #{'hover:bg-beaver-700 cursor-pointer' unless @edit} items-center")) do %>
        <%= octicon "file", height: 20, class: "fill-current mr-2" %>
        <%= @script.name %>

        <% if @edit && @script.invalid? %>
          <span class="text-red-400 ml-2">
            invalid
          </span>
        <% end %>

        <% if @script.content %>
          <div class="ml-auto text-beaver-400">
            chars: <%= @script.content.size %>
          </div>
        <% end %>
      <% end %>
    </div>
    <% unless @edit %>
      <%= render(Scripts::Card::CopyButton::Component.new(script: @script)) %>
    <% end %>
    <% if @edit %>
      <div class="p-3 border-l cursor-pointer info_bg border-beaver-850"
        data-reflex="click->Fileables::List::ComponentReflex#<%= params[:edit_file] == @script ? "close_form" : "edit_file" %>"
        data-index="<%= @index %>">
        Edit
      </div>

      <div class="p-3 border-l cursor-pointer danger_bg border-beaver-850"
        data-reflex="click->Fileables::List::ComponentReflex#remove_file"
        data-index="<%= @index %>">
        Delete
      </div>
    <% end %>
  </div>
  <%= render(c.toggleable(class: "w-full overflow-x-auto bg-beaver-1000")) do %>
    <%== @script.highlighted_content %>
    <%= "refresh this page if this script didn't updated yet" if @script.highlighted_content.blank?%>
  <% end %>
<% end %>

