<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= display_meta_tags(default_meta_tags) %>

    <%# <%= javascript_include_tag "main", "data-turbo-track": "reload", defer: true %>
    <%# <%= stylesheet_link_tag 'main', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%# <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <script src="https://js.stripe.com/v3/"></script>
    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application' %>


    <script>
      function css_browser_selector(u){var ua=u.toLowerCase(),is=function(t){return ua.indexOf(t)>-1},g='gecko',w='webkit',s='safari',o='opera',m='mobile',h=document.documentElement,b=[(!(/opera|webtv/i.test(ua))&&/msie\s(\d)/.test(ua))?('ie ie'+RegExp.$1):is('firefox/2')?g+' ff2':is('firefox/3.5')?g+' ff3 ff3_5':is('firefox/3.6')?g+' ff3 ff3_6':is('firefox/3')?g+' ff3':is('gecko/')?g:is('opera')?o+(/version\/(\d+)/.test(ua)?' '+o+RegExp.$1:(/opera(\s|\/)(\d+)/.test(ua)?' '+o+RegExp.$2:'')):is('konqueror')?'konqueror':is('blackberry')?m+' blackberry':is('android')?m+' android':is('chrome')?w+' chrome':is('iron')?w+' iron':is('applewebkit/')?w+' '+s+(/version\/(\d+)/.test(ua)?' '+s+RegExp.$1:''):is('mozilla/')?g:'',is('j2me')?m+' j2me':is('iphone')?m+' iphone':is('ipod')?m+' ipod':is('ipad')?m+' ipad':is('mac')?'mac':is('darwin')?'mac':is('webtv')?'webtv':is('win')?'win'+(is('windows nt 6.0')?' vista':''):is('freebsd')?'freebsd':(is('x11')||is('linux'))?'linux':'','js']; c = b.join(' '); h.className += ' '+c; return c;}; css_browser_selector(navigator.userAgent);
    </script>

    <style>
      @font-face {
        font-family: 'FirefoxCantarell';
        font-weight: normal;
        font-style: normal;
        src: url("<%= asset_path 'cantarell_firefox.ttf' %>");
      }
      @font-face {
        font-family: 'ChromeCantarell';
        font-style: normal;
        font-weight: normal;
        src: url(<%= asset_path 'cantarell_chrome.woff2' %>) format('woff2');
      }
    </style>
  </head>

  <body>
    <div id="toolbar-trix" class="hidden">
      <%= render(TrixToolbar.new) %>
    </div>
    <div class="min-h-screen">
      <%= render(Layout::NavBar::Component.new(current_user: current_user)) %>
      <div class="container max-w-5xl mx-auto mb-8 px-4">
        <div id="flash-messages">
          <% if alert %>
            <%= render(Layout::Toast.new(alert, type: :error)) %>
          <% end %>
          <% if notice %>
            <%= render(Layout::Toast.new(notice, type: :info)) %>
          <% end %>
        </div>

        <%= yield %>
      </div>

      <%= yield :containerless %>
    </div>
    <footer class="mt-20 bg-beaver-900 border-t border-beaver-800 text-white px-4">
      <div class="container max-w-5xl mx-auto py-4">
        <p>
        contribute in the project on github: <a class="link" href="https://github.com/TopRoupi/grey-hack-repo">https://github.com/TopRoupi/grey-hack-repo</a>
        </p>
        <p>
        get <%= link_to "supporter badge", supporter_checkout_path, class: "link" %> on your profile
        </p>
        <p>
        <%= link_to "make a donation (paypal)", "https://www.paypal.com/donate/?hosted_button_id=MLQW58ZDPTSVJ", class: "link" %>
        </p>
        <p>
        discord for bug reports/suggestion: <a class="link" href="https://discord.gg/e749jgsrkt">https://discord.gg/e749jgsrkt</a>
        </p>
      </div>
    </footer>
  </body>
</html>
