<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= display_meta_tags(default_meta_tags) %>

    <%# <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <script src="https://js.stripe.com/v3/"></script>
  </head>

  <body class="bg-beaver-900 text-white">
    <%= render(Layout::NavBar::Component.new(current_user: current_user)) %>
    <div class="container max-w-5xl mx-auto mb-8 px-4">
      <div id="flash-messages">
        <% if alert %>
          <%= render(Layout::Alert.new(alert, type: :error)) %>
        <% end %>
        <% if notice %>
          <%= render(Layout::Alert.new(notice, type: :info)) %>
        <% end %>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
