<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= display_meta_tags(default_meta_tags) %>

    <%= javascript_include_tag "main", "data-turbo-track": "reload", defer: true %>
    <%= stylesheet_link_tag 'main', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <script src="https://js.stripe.com/v3/"></script>
  </head>

  <body>
    <div id="toolbar-trix" class="hidden">
      <%= render(TrixToolbar.new) %>
    </div>
    <div class="min-h-screen">
      <%= render(Layout::NavBar::Component.new(current_user: current_user)) %>
      <div class="container max-w-5xl mx-auto mb-8 px-4">
        <div id="flash-messages">
          <% if alert %>
            <%= render(Layout::Alert.new(alert, type: :error)) %>
          <% end %>
          <% if notice %>
            <%= render(Layout::Alert.new(notice, type: :info)) %>
          <% end %>
        </div>

        <%= yield %>
      </div>

      <%= yield :containerless %>
    </div>
    <footer class="mt-20 bg-beaver-900 border-t border-beaver-800 text-white">
      <div class="container max-w-5xl mx-auto py-4">
        <p>
          contribute in the project on github: <a class="link" href="https://github.com/TopRoupi/grey-hack-repo">https://github.com/TopRoupi/grey-hack-repo</a>
        </p>
        <p>
          get <%= link_to "supporter badge", supporter_checkout_path, class: "link" %> on your profile
        </p>
      </div>
    </footer>
  </body>
</html>
