<!DOCTYPE html>
<html>
  <head>
    <title>GreyRepo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="/assets/icon.ico">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%# <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
  </head>

  <body class="bg-beaver-900 text-white">
    <%= render(Layout::NavBar::Component.new()) %>
    <div class="container max-w-5xl mx-auto mb-8 px-4">
      <% if alert %>
        <%= render(Layout::Alert::Component.new(alert, type: :error)) %>
      <% end %>
      <% if notice %>
        <%= render(Layout::Alert::Component.new(notice, type: :info)) %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
