<a href="<%= root_path %>" class="btn btn-ghost text-white px-3 py-2 !text-sm <%= 'w-full justify-start' if @mobile %>" aria-current="page">
  Repos
</a>
<a href="<%= gists_path %>" class="btn btn-ghost text-white px-3 py-2 !text-sm <%= 'w-full justify-start' if @mobile %>" aria-current="page">
  Gists
</a>
<a href="<%= users_path %>" class="btn btn-ghost text-white px-3 py-2 !text-sm <%= 'w-full justify-start' if @mobile %>" aria-current="page">
  Authors
</a>
<a href="<%= npc_decipher_path %>" class="btn btn-ghost text-white px-3 py-2 !text-sm <%= 'w-full justify-start' if @mobile %>" aria-current="page">
  Npc password decipher
</a>
<a href="https://themes.ghtools.xyz/" class="btn btn-ghost text-white px-3 py-2 !text-sm <%= 'w-full justify-start' if @mobile %>" aria-current="page">
  Themes
</a>
<a href="https://greyscript-meta.netlify.app/" class="btn btn-ghost text-white px-3 py-2 !text-sm <%= 'w-full justify-start' if @mobile %>" aria-current="page">
  Docs
</a>
