<a href="<%= root_path %>" class="<%= current_page?(root_path) ? "bg-chestnut-900" : "hover:bg-beaver-700" %> text-white px-3 py-2 rounded-md  font-medium <%= @mobile ? 'text_base block' : 'text-sm' %>" aria-current="page">
  Overview
</a>
<a href="<%= npc_decipher_path %>" class="<%= current_page?(npc_decipher_path) ? "bg-chestnut-900" : "hover:bg-beaver-700" %> text-white px-3 py-2 rounded-md  font-medium <%= @mobile ? 'text_base block' : 'text-sm' %>" aria-current="page">
  Npc password decipher
</a>
<a href="https://themes.ghtools.xyz/" class="hover:bg-beaver-700 text-white px-3 py-2 rounded-md  font-medium <%= @mobile ? 'text_base block' : 'text-sm' %>" aria-current="page">
  Themes
</a>

